[user]
        name = Adam Patterson
        email = adam@adamrt.com
        signingkey = 6EA6FC1D
[diff]
        algorithm = patience
[url "git@github.com:"]
        insteadOf = https://github.com/
[commit]
        gpgSign = true
[tag]
        gpgSign = true
[github]
        user = adamrt
[init]
	defaultBranch = master
